*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.navbar-slide{
    width: 2.5cm;
    height: 100%;
    position:fixed;
    margin: 0;
    padding: 15px;
} 
.navbar{
    height: 2.5cm;
    width: 2.5cm;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    transition: all .8s ease-out; 
} 
.navbar:hover{
    margin-left: .7cm;
    background-color: darkgray;
    border-radius: 1rem;
    cursor: pointer;
}

.main{
    margin-left: 6cm;
    margin-right: 4cm;
    margin-top: 1.52cm;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
header{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3rem;
    font-style: italic;
}

header img{
    height: 70%;
    width: 80%;
    margin: 2rem 0 4rem 0;
}

.about h2{
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
}
.about h3{
    font-size: 1.3rem;
    margin-top: 2rem;
}
.about p{
    line-height: 1.3rem;
    margin: 1.8rem 0 1rem 1rem;
    font-size: 1.1rem;
    font-family: sans-serif;
    color: gray;
}
.div{
    margin: 0 0 2.2rem 1rem;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.info{
    height: 3cm;
    margin-top: 2rem;
    margin-left: 1rem;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    line-height: 2rem;
    font-family: sans-serif;
}
.span span{
    font-size: 1.7rem;
}
.span{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.contact h2{
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
}
.information{
    font-size: 1rem;
    font-family: sans-serif;
    display: flex;
    padding: 20px;
    gap: 1rem;
}
.information i{
    font-size: 1.82rem;
}
.information p{
    margin-top: .41rem;
}
.send-msg{
    display: flex;
    flex-direction: column;
}
/* .send-msg p{
    margin-bottom: 1rem;
} */
.send-msg input{
    height: 1.5rem;
    width: 70%;
    margin: .71rem 0 0 .71rem;
    padding: 20px;
    font-size: 1rem;
    border-radius: 5px;
}
#msg{
    height: 26px;
    width: 70%;
    margin: .71rem 0 0 .71rem;
    padding: 20px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: sans-serif;
    outline: none;
    resize: none;
    max-height: 330px;
} 
#msg::-webkit-scrollbar{
    width: 0;
}
.send-msg button{
    width: 10rem;
    padding: 15px;
    margin: 1.5rem 0 0 .71rem;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 1rem;
    transition: all .6s ease-in-out;
}
.send-msg p{
    margin-bottom: .1px;
}

.send-msg button:hover{
    width: 12rem;
    background-color: powderblue;
    cursor: pointer;
}

footer{
    margin: 0 4cm 1cm 4cm;
}
.fb-logo{
    height: 2cm;
    width: 2cm;
}
.insta-logo{
    height: 1.2cm;
    width: 1.2m;
    border-radius: .5rem;
}
 .footer{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .51rem;
    gap: 1rem;
}
#linkdin{
    color: grey;
    font-size: 2.2rem;
    
} 

.name-error, .email-error, .msg-error{
    margin: 0 0 .5rem 1rem;
    color: rgb(247, 50, 50);
    font-family: 'Poppins', serif;
    font-size: 14px;
    font-weight: 100;
}

